.envrc
.env.release
.idea
.vscode
.DS_Store
.release_notes.md
dist/
devel/data*
build/
*.spkg
/substreams-sink-sql
/cursor.txt
/replay.log
/*_schema_hash.txt
/db_proto/test/substreams/order/src/pb/.last_generated_hash
/db_proto/test/substreams/generator.json
/main
/cmd/scratch/scratch
